a {
    color: rgb(255, 0, 0);
    text-decoration: none;

    &:hover {
        color: rgb(255, 100, 100)
    }
}

h1 {
    font-family: var(--font-serif);
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 3rem;
}