<div class="wrapper">
    <h1 class="name">CHRIS BLACK</h1>
    <div class="motto" title="You can't go straight when the road is crooked.">
        Nashti zhas vorta po drom o bango.
    </div>
</div>
<div class="links-large">
    <a id="home" href="/">Home</a> | <a id="music" href="/music">Music</a> |
    <a id="video" href="/video">Video</a> |
    <a id="thoughts" href="/thoughts">Blog</a>
</div>
<details class="links-small">
    <summary id="summary">Baboon</summary>
    <a id="home" href="/">Home</a><br />
    <a id="music" href="/music">Music</a><br />
    <a id="video" href="/video">Video</a><br />
    <a id="thoughts" href="/thoughts">Blog</a>
</details>
