header {
    margin-bottom: 2rem;
    padding: 0 0.5rem;

    .wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: " name motto ";
        column-gap: 6rem;
        align-items: center;
        margin-bottom: 1rem;

        .name {
            grid-area: "name";
        }

        .motto {
            font-family: var(--font-serif);
            grid-area: "motto";
            font-style: italic;
        }
    }

    h1 {
        font-family: var(--font-serif);
        font-size: 3.6rem;
        font-weight: normal;
        line-height: 3rem;
        margin: 0.5rem 0 0 0;
    }

    .links-large {
        display: block;
    }

    .links-small {
        display: none;

        summary {
            font-size: 1rem;
            font-family: var(--font-serif);
        }
    }

    a {
        color: rgb(255, 0, 0);
        text-decoration: none;
        margin: 0 0.5rem;

        &:hover {
            text-decoration: underline;
        }

        &.current-page {
            color: white;
            pointer-events: none;
            display: inline-block;
        }
    }
}

@media screen and (max-width: 700px) {
    header {
        margin-bottom: 1rem;

        .wrapper {
            display: block;
            margin-bottom: 0.5rem;
        }

        h1 {
            font-size: 3rem;
        }

        .links-large {
            display: none;
        }

        .links-small {
            display: block;
        }
    }
}
