.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    img {
        max-width: 350px;
        max-height: 350px;
        object-fit: cover;
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}
