:root {
    --font-sans-serif: "Open Sans", sans-serif;
    --font-serif: "Merriweather", Georgia, serif;
    --light: #ccc;
    --dark: black;
    --link: #88b0fb;
    --link-bright: rgb(142, 187, 255);
}
